#root, html,body {
  margin: 0;
  padding: 0;
  height: 100vh;
  

}
.app {
      height: 100%;
      background: url('./images/modernart.jpg');
      background-size: cover;
      background-position: center;
      flex-direction: row;
      
      
    
}
.card {
  background-color:#574b90;
   weight:40%;
   height: 60%;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  border-radius: 30px;
  padding: 2%;
 
  margin-top: 5%;
 margin-bottom:5%;
 margin-left: 20%; 
 margin-right: 20%;
}

.cont {
  display: flex;
  align-items:center;
  color:#fc85ae;
  height: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  
  background:#574b90;
  color:#fc85ae;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
